security_password=mypassword
role_name=ducksmanager
role_password=rolepassword
dm_url=https://dm.net
api_endpoint_url=http://myserver/dm-server
matomo_url=http://myserver/matomo
edges_url=https://edges.ducksmanager.net
pusher_instance_id=