api_endpoint_url=http://myserver/dm-server
appfollow_api_endpoint_url=
appfollow_api_secret=
dm_url=https://ducksmanager.net
inducks_story_url=https://inducks.org/story.php?c=
discord_url=
youtube_url=
instagram_url=
facebook_url=
edges_url=https://edges.ducksmanager.net
covers_url=https://res.cloudinary.com/dl7hskxab/image/upload/v1623338718/inducks-covers
matomo_url=http://myserver/matomo
pusher_instance_id=
role_name=ducksmanager
role_password=rolepassword