*.iml
.gradle
/.idea/
/app/build/
/app/libs/
/app/release/
/app/src/androidTest/resources/fixtures/covers/
/app/src/androidTest/resources/fixtures/edges/
/app/src/main/assets/config.properties
/app/src/main/res/*.png
/lib/opencv/build
/local.properties
/opencvLibrary*/build
/screenshots
/showcase
