*.iml
.gradle
/.idea/
/app/build/
/app/libs/
/app/release/
/build/
/local.properties
/app/src/androidTest/resources/fixtures/covers/
/app/src/main/assets/config.properties
/screenshots
/showcase
/app/src/main/res/*.png
