<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.ducksmanager.whattheduck">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <application
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:name=".WhatTheDuckApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:replace="android:fullBackupContent"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="net.ducksmanager.whattheduck.WhatTheDuck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.ducksmanager.retrievetasks.Signup"/>
        <activity android:name="net.ducksmanager.whattheduck.CountryList" />
        <activity android:name="net.ducksmanager.whattheduck.PublicationList" />
        <activity android:name="net.ducksmanager.whattheduck.IssueList" />
        <activity android:name="net.ducksmanager.util.CoverFlowActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="net.ducksmanager.whattheduck.AddIssue"
                  android:theme="@style/AddIssueTheme"
                  android:excludeFromRecents="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.ducksmanager.whattheduck.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>