<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.ducksmanager.whattheduck">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".WhatTheDuck"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/icon"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/WhatTheDuckTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:fullBackupContent">
        <activity android:name="net.ducksmanager.activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.ducksmanager.activity.Signup" />
        <activity android:name="net.ducksmanager.activity.CountryList" />
        <activity android:name="net.ducksmanager.activity.PublicationList" />
        <activity android:name="net.ducksmanager.activity.IssueList" />
        <activity
            android:name="net.ducksmanager.util.CoverFlowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.ducksmanager.activity.AddIssues"
            android:excludeFromRecents="true"
            android:theme="@style/AddIssueTheme" />
        <activity android:name="net.ducksmanager.activity.Settings" />
        <activity android:name="net.ducksmanager.activity.Suggestions" />
        <activity
            android:name="net.ducksmanager.activity.Report"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.ducksmanager.whattheduck.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>